.footer__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__inner {
    background-color: $color-primary;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: $color-white;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
}