.footer {
    height: $header-height;
    background-color: $color-white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    position: absolute;
    bottom: 0;
}

.footer__link {
    border: 0 !important;
    color: $color-black;
}

.nav-link.active {
    color: $color-primary !important;
}

.footer__container-link {
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer__nav {
    height: 100%;
}