.header__inner {
    background-color: $color-primary;
    height: $header-height;
    padding: 5px 0 5px 0;
    border-radius: 0 0 10px 10px;
}

.header__chef-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__logo {
    margin: 0;
    color: $color-white;
}

.header__chef-img {
    height: $header-height - 10px;
    width: $header-height - 10px;
    border-radius: 100%;
    background-image: url('/src/public/img/chef/chef1.svg');
    background-color: lightgrey;
}