<% include ../blocks/head %>

<form action="/test" method="post" enctype="multipart/form-data">
    <input type="text" name="hi">
    <input type="file" name="name" id="id">
    <input type="submit">
</form>

<button id="thebutton">The button</button>

<script src="/src/public/js/other/test.js"></script>