<% include ../blocks/head %>
<% include ../blocks/header %>

<div class="container tinder-container">
    <div class="row tinder-row">
        <div class="col-12">
            <div class="tinder">
                <div class="tinder__inner">
                    <ul class="tinder__list">
                        <li class="tinder__item">
                            <div class="card tinder__card">
                                <div style="background-image: url('https://picsum.photos/1080/1920')" alt="" class="card-img-top tinder__card-img"></div>
                                <div class="card-body">
                                    <p class="card-title">Hi</p>
                                </div>
                            </div>
                        </li>
                        <li class="tinder__item">
                            <div class="card tinder__card">
                                <div style="background-image: url('https://picsum.photos/1080/1920')" alt="" class="card-img-top tinder__card-img"></div>
                                <div class="card-body">
                                    <p class="card-title">Hi</p>
                                </div>
                            </div>
                        </li>
                        <li class="tinder__item">
                            <div class="card tinder__card">
                                <div style="background-image: url('https://picsum.photos/1080/1920')" alt="" class="card-img-top tinder__card-img"></div>
                                <div class="card-body">
                                    <p class="card-title">Hi</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row controls-row">
        <div class="col-12">
            <div class="tinder-controls">
                <button data-tinder="dislike" class="btn dislike"><i class="fas fa-times"></i></button>
                <button class="btn random"><i class="fas fa-dice"></i></button>
                <button data-tinder="like" class="btn like"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>
</div>

<script src="/src/public/js/other/tinder.js"></script>

<% include ../blocks/footer %>
<% include ../blocks/foot %>