<!-- Modal -->
<% include ../blocks/user-edit-modal %>

<!-- Modal -->
<% include ../blocks/user-add-modal %>

<div class="container-fluid user-container">
    <div class="row user-row">
        <div class="col-12 user-col">
            <div class="user">
                <div class="user__inner">
                    <img class="user__img" src="https://picsum.photos/id/538/150/150" alt="User picture">
                    <p class="user__username">Username</p>
                    <p class="user__role">Famous pizzaiolo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container recipes-container">
    <div class="row recipes-title-row">
        <div class="col-12 recipes-title-col">
            <h2 class="recipes-title">Recipes</h2>
            <a class="recipes-add-link" data-toggle="modal" data-target="#createModal"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row recipes-row">
        <div class="col-12 recipes-col">
            <div class="recipes">
                <div class="recipes__inner">
                    <ul class="recipes__list">
                        <% include ../blocks/user-recipes %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>