<% include ../blocks/head %>
<% include ../blocks/header %>

<!-- Modal -->
<% include ../blocks/user-edit-modal %>

<!-- Modal -->
<% include ../blocks/user-add-modal %>

<div class="container">
    <div class="row user">
        <div class="col-12 user__container">
            <img class="user__img" src="https://picsum.photos/id/538/150/150" alt="User picture">
            <p class="user__username">Username</p>
            <p class="user__role">Famous pizzaiolo</p>
        </div>
    </div>
    <div class="row recipes">
        <div class="col-12 recipes__title-container">
            <h2 class="recipes__title">Recipes</h2>
            <a class="recipes__add-link" data-toggle="modal" data-target="#createModal">
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <div class="col-12 recipes__list-container">
            <ul class="list-group recipes__list">
                <% include ../blocks/recipes %>
            </ul>
        </div>
    </div>
</div>