<footer class="container-fluid footer">
    <nav class="footer__nav">
        <div class="nav nav-tabs footer__container-link" id="nav-tab" role="tablist">
            <a
                class="nav-item nav-link active footer__link"
                id="nav-tinder-tab"
                data-toggle="tab"
                href="#tinder-tab"
                role="tab"
                aria-controls="tinder-tab"
                aria-selected="true">
                <i class="footer__item-icon fas fa-hamburger"></i>
            </a>
            <a
                class="nav-item nav-link footer__link"
                id="nav-calendar-tab"
                data-toggle="tab"
                href="#calendar-tab"
                role="tab"
                aria-controls="calendar-tab"
                aria-selected="false">
                <i class="footer__item-icon fas fa-calendar-week"></i>
            </a>
            <a
                class="nav-item nav-link footer__link"
                id="nav-shopping-tab"
                data-toggle="tab"
                href="#shopping-tab"
                role="tab"
                aria-controls="shopping-tab"
                aria-selected="false">
                <i class="footer__item-icon fas fa-shopping-cart"></i>
            </a>
            <a
                class="nav-item nav-link footer__link"
                id="nav-user-tab"
                data-toggle="tab"
                href="#user-tab"
                role="tab"
                aria-controls="user-tab"
                aria-selected="false">
                <i class="footer__item-icon fas fa-user"></i>
            </a>
        </div>
    </nav>
</footer>