<footer class="container-fluid footer">
    <div class="row footer__inner">
        <menu class="col-12 footer__menu">
            <a class="footer__item" href="/swipe">
                <i class="footer__item-icon fas fa-hamburger"></i>
            </a>
            <a class="footer__item" href="#">
                <i class="footer__item-icon fas fa-calendar-week"></i>
            </a>
            <a class="footer__item" href="#">
                <i class="footer__item-icon fas fa-shopping-cart"></i>
            </a>
            <a class="footer__item" href="/me">
                <i class="footer__item-icon fas fa-user"></i>
            </a>
        </menu>
    </div>
</footer>