<li class="list-group-item recipes__item" id="recipes__item--model" data-recipe="">
    <div class="recipes__img"></div>
    <div class="recipes__info-container">
        <div class="recipes__info">
            <p class="recipes__name"></p>
            <p class="recipes__category"></p>
        </div>
        <a class="recipes__update-link" data-toggle="modal" data-target="#editModal" onclick="updateContent(this)">
            <i class="fas fa-edit"></i>
        </a>
    </div>
</li>
<% for (let i = 0; i < data.recipes.length; i++) { %>
    <li class="list-group-item recipes__item" data-recipe="<%= JSON.stringify(data.recipes[i]) %>">
        <div class="recipes__img" style="background-image: url('https://drive.google.com/uc?export=view&id=<%= data.recipes[i].imageId %>');"></div>
        <div class="recipes__info-container">
            <div class="recipes__info">
                <p class="recipes__name"><%= data.recipes[i].name %></p>
                <p class="recipes__category"><%= data.recipes[i].category.name %></p>
            </div>
            <a class="recipes__update-link" data-toggle="modal" data-target="#editModal" onclick="updateContent(this)">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </li>
<% } %>