<li class="recipes__item recipes__model">
    <div class="recipes__card card">
        <div class="recipes__card-body card-body">
            <div class="recipes__card-img"></div>
            <div class="recipes__card-content">
                <div class="recipes__card-text">
                    <h4 class="recipes__card-title">Name</h4>
                    <p class="recipes__card-category">Category</p>
                </div>
                <a class="recipes__action" data-toggle="modal" data-target="#editModal">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
            </div>
        </div>
    </div>
</li>
<% for (let i = 0; i < data.recipes.length; i++) { %>
    <li class="recipes__item" data-recipe="<%= JSON.stringify(data.recipes[i]) %>">
        <div class="recipes__card card">
            <div class="recipes__card-body card-body">
                <div class="recipes__card-img" style="background-image: url('https://drive.google.com/uc?export=view&id=<%= data.recipes[i].imageId %>');"></div>
                <div class="recipes__card-content">
                    <div class="recipes__card-text">
                        <h4 class="recipes__card-title"><%= data.recipes[i].name %></h4>
                        <p class="recipes__card-category"><%= data.recipes[i].category.name %></p>
                    </div>
                    <a class="recipes__action" data-toggle="modal" data-target="#editModal" onclick="updateContent(this)">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </div>
            </div>
        </div>
    </li>
<% } %>